<div class="atk-layout-row atk-cells">
          <footer class="ally-link-footer">
            <div class= "container">
              <div class= "row">
                <h4><b>Carrer</b></h4>
              </div>
              <div class="ally-bottom-footer">
                <div class="col-md-3">
                  <ul>
                    <li>
                      <span>Notes:</span><br/>
                      <a href="mailto:info@mlsunotes.org">info@mlsunotes.org</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
      </div>