.atk-content {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}

.allymenu{
  color : white;
  background-color: purple;
}

.allypadding .atk-layout-row .atk-padding-small{ 
    padding-top: 0.1rem; 
    padding-bottom: 0.1rem;

}

.allybuttoncolor .atk-swatch-ink{
  background-color: purple;
}

.allybuttoncolor ul li {
  margin-left: 50px !important;
}
/*.ui-tabs .ui-tabs-panel.ui-widget-content.atk-padding-small{*/

.allytoprow{
  color : white;
  text-align: center;
  height: 20%;  
  background-color:  #f7dc6f ;
}

.allybody {
    width: 100%;
}

body {
  /*background-image: url('../images/bgimage.jpg');*/
}

.gradient {

  /* can be treated like a fallback */
  background-color: darkblue;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(darkblue, blue);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: darkblue;
  background: linear-gradient(darkblue, blue);

}

.ally-link-footer{
    margin-top: 20px;
    padding-top: 20px;
    color : white;
}

/*.footer-nav li{
  display: inline;
  text-align: center;
  list-style: none;
  padding: 50px 80px;
}*/

.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}