.allymenu{
	color : white;
	background-color: purple;
}

.allypadding .atk-layout-row .atk-padding-small{ 
		padding-top: 0.1rem; 
		padding-bottom: 0.1rem;

}

.allybuttoncolor .atk-swatch-ink{
	background-color: purple;
}

.allybuttoncolor ul li {
	margin-left: 50px !important;
}
/*.ui-tabs .ui-tabs-panel.ui-widget-content.atk-padding-small{*/

.allytoprow{
	color : white;
	text-align: center;
	height: 20%;
	background-color:  #f7dc6f ;
}

.allybody {
    /*background-image: url("templates/images/backimage.jpe");*/
    width: 100%;
}

.gradient {

  /* can be treated like a fallback */
  background-color: blue;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(blue, white);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: blue;
  background: linear-gradient(blue, white);

}


.page_about {
	background-image: url('../images/transimage.jpg') ! important;

}