<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<html lang="{lang}en{/}">
  <head>
    <meta charset="utf-8"><!--[if IE><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>{page_title}MLSU Alumni Association{/}</title>
    <!--meta(name="desciption" content="{$page_description}")-->{$page_metas}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <!-- <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" type="text/css" href="{css}bootstrap/css/bootstrap.min.css{/}">
  <link rel="stylesheet" type="text/css" href="{css}theme.css{/}">
  <link rel="stylesheet" type="text/css" href="{css}ally.css{/}">
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
          {$document_ready}
      });
      
    </script>
  <script type="text/javascript" src="templates/css/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body class="{$pagename}">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    {Layout}
    <div class="atk-layout">
      <div class="atk-layout-row">
        <div class="atk-wrapper atk-cells">
          <div class= "atk-row">
            <!-- <div class="atk-col-2"> --><!-- </div> -->
            <!-- <div class="atk-col-2"><img src="templates/images/logo.jpg" style="float:right; border: 4px solid darkblue;"></div>
            <div class="atk-col-6"> -->
              <div class="atk-cell atk-valign-middle" style="float:left">
                <img src="templates/images/finaltop.jpg"></div>
            </div>
            <!-- <div class="atk-col-2"></div> -->
          </div>
        </div>
        <!-- <div class= "atk-row"> -->
          <div class="atk-wrapper atk-cells allymenu">
            <div class="atk-cell atk-cells-gutter-large allybuttoncolor">{$Menu}</div>
          </div>
         <!--  <div class="atk-wrapper atk-padding-small atk-cells"></div> -->
        <!-- </div> -->

      <div class="atk-layout-row ">
        <div class="atk-wrapper">{$Content}</div>
      </div>

      <div class="container">
  <div class="row">
  <div id="myCarousel" class="carousel  slide">
  <!-- Dot Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Items -->
  <div class="carousel-inner">
    <div class="active item">  <img src="templates/images/college.jpg" class="img-responsive"></div>
    <div class="item">  <img src="templates/images/mlsu.jpeg" class="img-responsive"></div>
    <div class="item">  <img src="templates/images/vb.jpeg" class="img-responsive"></div>
  </div>
  <!-- Navigation -->
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
</div>
  </div>
</div>

      <div class="atk-layout-row">
          <div class="atk-wrapper atk-align-center">
             <div class="atk-cell atk-valign-middle"><img src="templates/images/detail.jpg" style="background: black"></div>
          </div>
        <div class="atk-wrapper atk-align-center atk-size-milli atk-cells">
          <a href="https://www.mlsu.ac.in">www.mlsu.ac.in </a>| © copyright2017.
        </div>
      </div>
    </div>{/}
  </body>
  <script type="text/javascript">
     $(document).ready(function() {
      $('.carousel').carousel({interval: 3500});
    });
  </script>
</html>
