<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<html lang="{lang}en{/}">
  <head>
    <meta charset="utf-8"><!--[if IE><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>{page_title}MLSU Alumni Association{/}</title>
    <!--meta(name="desciption" content="{$page_description}")-->{$page_metas}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <!-- <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" type="text/css" href="{css}bootstrap/css/bootstrap.min.css{/}">
  <link rel="stylesheet" type="text/css" href="{css}theme.css{/}">
  <link rel="stylesheet" type="text/css" href="{css}ally.css{/}">
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
          {$document_ready}
      });
      
    </script>
  <!-- <script type="text/javascript" src="templates/css/bootstrap/js/bootstrap.min.js"></script> -->
  </head>
  <body class="{$pagename}">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    {Layout}
    <div class="atk-layout">
      <div class="atk-layout-row">
        <img src="templates/images/finaltop.jpg" style="width: 100%;">
        <div class="atk-wrapper atk-padding-small atk-cells allymenu">
          <div class="atk-cell atk-jackscrew atk-align-right allybuttoncolor">{$Menu}</div>
        </div>
      </div>
      <div class="atk-layout-row atk-layout-fluid">
        <div class="atk-wrapper atk-content" style="padding-top: 20px">{$Content}</div>
      </div>
      <div class="atk-layout-row">
        <div class="ally-link-footer" style=" margin-top:100px; background-color: rgb(0,0,0); background-size: 100% 100%;">
            <div class= "container">
                <div class= "row">
                    <div class="col-md-3">
                      <div class="col-md-6">
                        <h3 align="center" style="color: white;">Career</h3>
                        <div class="" style="border-bottom: 2px solid white;"></div>
                          <div>
                              <span>Notes:</span><br/>
                              <a href="http:://www.mlsureaders.com">www.mlsureaders.com</a>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="col-md-6">
                        <h3 align="center" style="color: white;">Contact</h3>  
                        <div class="" style="border-bottom: 2px solid white;"></div>
                          <div>
                              <span>Email:</span><br/>
                              <a href="mailto:/monikagupta495@gmail.com" style="color:red;">monikagupta495@gmail.com</a><br/>
                              <a href="mailto:/rohitmlsu@gmail.com">rohitmlsu@gmail.com</a>
                          </div>
                          <div>
                              <span>Mobile:</span>
                                <row>
                                  <span>8955616629</span>
                                  <span>7790878888</span>
                                </row>
                          <div>
                            <br>
                            <br>
                            <br>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="atk-wrapper atk-padding-small atk-align-center atk-size-milli">This system is implemented using&nbsp;<a href="http://agiletoolkit.org/">Agile Toolkit</a>. © 1999–2014 Agile Toolkit Limited.&nbsp;<a href="http://agiletoolkit.org/about/license">See License</a></div>
      </div>
    </div>{/}


  </body>  
</html>
